// 重置样式表
html,body,h2,h3,h5,h6,p,a,input,img,li,ol,dl,dt,dd{
	padding: 0;
	margin: 0;
}
ul{
	padding: 0;
	margin: 0;
}
ul,ol{
	list-style: none;
}
img{
	display: block;
	border:0;
}
input{
	outline: none;
}
body{
	font-size: 12px;
	font-family: "微软雅黑";
	color: #3e3e3e;
	margin: 0;
}
h4,h1{
	padding: 0;
	margin: 0;
}
p{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
*{
	box-sizing: border-box;
}